*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

main{
  width: 100%;
  height: calc(100vh - 80px);
  font-size: 0.6rem;
}

.aside-col{
  width: 215px;
}

.container{
  width: 100%;
  position: relative;
  padding: 70px 15px;
  overflow: auto;
}

footer{
  width: 100%;
  height: 80px;
  flex-shrink: 0;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  text-decoration: none;
}