*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

main{
  width: 100%;
  height: calc(100vh - 60px);
  font-size: 0.65rem;
}

.aside-col{
  width: 215px;
  padding: 15px;
  flex-shrink: 0;
  background-color: black;
  position: relative;
}

.container{
  width: 100%;
  padding: 70px 15px;
  overflow-y: auto;
  background-color: #141922;
}

footer{
  width: 100%;
  height: 60px;
  padding: 0 7px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
}

li{
  list-style: none;
  display: inline-block;
}

.container nav li{
  display: inline-block;
}

li a{
  text-decoration: none;
}