/* MAIN */






/* ASIDE */

main .aside-col .logo{
  height: 60px;
}

main .aside-col .logo img{
  width: 65%;
}

main .aside-col #logo-small{
  height: 27px;
  position: absolute;
  top: 10px;
  left: 7px;
  display: none;
}

main .aside-col .menu{
  height: calc(100% - 124px);
  flex-direction: column;
}

main .aside-col .bottom{
  height: 75px; 
}


main .aside-col .menu .item{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 5px;
  cursor: pointer;
}

main .aside-col .menu img{
  height: 25px;
  margin-right: 5px;
}

main .aside-col span, li{
  color: #a3a3a3;
  font-weight: bold;
}

main .aside-col .menu .playlist{
  overflow: auto;
}

main .aside-col .menu .plus-playlist{
  padding-top: 20px;
}

main .aside-col .menu p{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

main .aside-col .menu .plus-playlist i{
  font-size: 1.1rem;
  background-color: #a3a3a3;
  padding: 6px;
}

main .aside-col .menu .playlist ul li{
  display: block;
  margin-bottom: 18px;
  color: #a3a3a3;
  cursor: pointer;
}

main .aside-col .menu #plus{
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

main .aside-col .menu #plus span{
  margin-left: 5px;
  cursor: pointer;
}

main .aside-col .bottom .cta{
  padding-bottom: 7px;
  margin-bottom: 15px;
  border-bottom: 1px solid #a3a3a3;
  cursor: pointer;
}

main .aside-col .bottom .cta img{
  height: 20px;
  margin-right: 3px;
  vertical-align: middle;
}

main .aside-col .bottom .profile img{
  height: 25px;
  width: 25px;
  vertical-align: middle;
  background-color: #a3a3a3;
  border-radius: 50%;
}

.aside-col .bottom .profile span{
  color: white;
  font-size: 0.7rem;
  margin-left: 7px;
}




/* CONTAINER */



/* overlay */
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 200px);
  height: 60px;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay .btn{
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 20px; 
  transition: all 0.7;
}

/* main-container nav */

main .container nav{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #141922;
}

main .container nav ul{
  justify-content: center;
}

main .container nav ul li{
  margin: 7px;
}

main .container nav ul li a{
  display: inline-block;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #a3a3a3;
  font-weight: bold;

}

/* section-row & card */


main .container .section-row{
  width: 100%;
  margin-bottom: 20px;
}

main .container .section-row .card{
  width: calc((100% / 6) - 15px);
  margin-right: 15px;
  text-align: center;
}

main .container .section-row h2{
  font-size: 1.4rem;
  color: white;
  margin: 7px 0;
}

main .container .section-row .card img{
  width: 100%;
  margin-bottom: -3px;
}

main .container .section-row .card p.title{
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  margin: 10px auto;
}

main .container .section-row p.subtitle{
  font-size: 0.65rem;
  color: #a3a3a3;
}

/* section-row Suggestion */

.container .section-row .top{
  margin-bottom: 20px;
}

.container .section-row.suggestions .bottom .card,
.container .section-row.popular .bottom .card{
  width: calc((100% / 5.5) - 15px);
}

/* section-row Popular */

main .container .section-row.popular .bottom .card img{
  border-radius: 50%;
}

/* play-overlay */

.container .section-row .bottom .hover-container{
  position: relative;
  width: 100%;
}

.section-row .bottom .card .hover-container  i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: rgb(238, 234, 234);
  display: none;
}

/* FOOTER */

/*  footer left */
footer .player-left{
  align-items: center;
}

footer .player-left .song{
  margin-right: 25px;
}

footer .player-left i,
footer .player-right i{
  color: #a3a3a3;
  margin-right: 15px;
  font-size: 0.7rem;
}

footer .player-left .title{
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

footer .player-left .subtitle{
  font-size: 0.6rem;
  color: #a3a3a3;
}

footer img{
  width: 42px;
  margin-right: 10px;
}

/* footer center */

footer .player-center{
  width: 45%;
  margin: 0 10px;
}

footer .player-center .top{
  margin-bottom: 7px;
}

footer .player-center .top,
footer .player-center .bottom,
footer .player-right{
  justify-content: center;
  align-items: center;
}

footer .player-center .top i{
  color: white;
  margin: 0 13px;
  font-size: 0.7rem;
  cursor: pointer;
}

footer .player-center .top i.fa-circle-play{
  font-size: 1.1rem;
}

footer .player-center .bottom{
  position: relative;
}

footer .player-center .bottom span{
  font-size: 0.6rem;
  color: white;
}

footer .player-center .bottom .status-bar{
  width: 85%;
  margin: 0 10px;
}

footer .player-center .bottom .status-bar .avanzamento{
  width: 35%;
}

footer .player-center .bottom .status-point{
  position: absolute;
  top: 0;
  left: 36%;
}

/* condivisi */
footer .player-center .bottom .status-bar,
footer .player-right .status-bar{
  height: 4px;
  background-color: #969494;
  border-radius: 10px;
}


footer .player-center .bottom .status-bar .avanzamento,
footer .player-right .status-bar .avanzamento{
  height: 100%;
  background-color: #c4bebe;
  border-radius: 10px;
}


footer .player-center .bottom .status-point,
footer .player-right .status-point{
  
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

/* footer right */
footer .player-right .status-bar{
  position: relative;
  width: 90px;
}

footer .player-right .status-bar .avanzamento{
  width: 35%;
}

footer .player-right .status-point{
  position: absolute;
  top: -3px;
  left: 31%;
}


/* MEDIA */

@media screen and (max-width: 768px){

  /* section-row recently */
  main .container .section-row .bottom {
    flex-wrap: wrap;
  }

  main .container .section-row.recently .card,
  main .container .section-row.suggestions .bottom .card,
  main .container .section-row.popular .bottom .card {
    width: calc((100% / 4) - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
  }

  /* .section-row .bottom .card .hover-container{
    font-size: 1rem;
  } */

}

@media screen and (max-width: 568px){

  /* section-row recently */
  main .container .section-row.recently .card,
  main .container .section-row.suggestions .bottom .card,
  main .container .section-row.popular .bottom .card {
    width: calc((100% / 2) - 10px);
  } 
 
}

@media screen and (max-width: 550px){

  /* aside col */
  .aside-col {
    width: 50px;
    padding: 11px;
  }

  main .aside-col .logo{
    height: 40px;
  }

  .aside-col .logo #logo-big,
  .aside-col .menu span,
  .aside-col .playlist,
  .aside-col .menu .plus-playlist,
  .aside-col .bottom span,
  .aside-col .menu .item .aside-green.border-active{
    display: none;
  }

  .aside-col .logo #logo-small{
    display: block;
  }

  .aside-col .bottom .cta{
    border: 0;
    margin-bottom: 5px;
  }
  
  .aside-col .bottom .cta img{
    margin-left: 3px;
    margin-right: 0;
  }

  .aside-col .menu .item,
  .aside-col .menu img{
    margin-right: 0;
  }

  .aside-col .menu {
    height: calc(100% - 102px);
  }

  .overlay{
    width: calc(100% - 50px)
  }

/* footer */

  footer .player-left .song{
    margin-right: 20px;
  }

  footer .icon-container{
    display: block;
  }

}

@media screen and (max-width: 420px){

}
