/* MAIN */






/* ASIDE */

main .aside-col .logo{
  height: 60px;
}

main .aside-col .menu{
  height: calc(100% - 130px);
}

main .aside-col .bottom{
  height: 70px; 
}

main .aside-col .logo img{
  width: 73%;
}

main .aside-col .menu .item{
  margin-bottom: 12px;
}

main .aside-col .menu img{
  height: 27px;
  vertical-align: middle;
}

main .aside-col span, li{
  color: #a3a3a3;
  font-weight: bold;
}

main .aside-col .menu .playlist{
  padding-top: 15px;
}

main .aside-col .menu p{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 0.85rem;
}

main .aside-col .menu .playlist p{
  margin-bottom: 10px;
}

main .aside-col .menu .playlist i{
  font-size: 1.3rem;
  background-color: #a3a3a3;
  padding: 8px;
}

main .aside-col .menu .playlist ul li{
  display: block;
  margin-bottom: 15px;
  color: #a3a3a3;
}

main .aside-col .menu #plus{
  align-items: center;
  margin-bottom: 20px;
}

main .aside-col .menu #plus span{
  margin-left: 5px;
}

main .aside-col .bottom .cta{
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #a3a3a3;
}

main .aside-col .bottom .cta img{
  height: 20px;
  vertical-align: middle;
}

main .aside-col .bottom .profile img{
  height: 30px;
  vertical-align: middle;
  background-color: #a3a3a3;
  border-radius: 50%;
}





/* CONTAINER */



/* overlay */
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 215px);
  height: 70px;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay .btn{
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  
  color: white;
  padding: 10px 35px;
  border: 1px solid white;
  border-radius: 20px; 
}

/* main-container nav */

main .container nav{
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #141922;
}

main .container nav ul li{
  margin: 10px;
}

main .container nav ul li a{
 
  text-transform: uppercase;
  color: #a3a3a3;
  font-weight: bold;
}


/* section-row & card */


main .container .section-row{
  width: 100%;
  margin-bottom: 20px;
}

main .container .section-row .card{
  width: calc((100% / 6) - 3%);
  margin-right: 3%;
  text-align: center;
}


main .container .section-row h2{
  font-size: 1.4rem;
  color: white;
  margin: 7px 0;
}

main .container .section-row .card img{
  width: 100%;
  margin-bottom: 5px;
}

main .container .section-row .card p.title{
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  margin: 5px auto;
}

main .container .section-row p.subtitle{
  font-size: 0.65rem;
  color: #a3a3a3;
}

/* section-row Suggestion */

.container .section-row .top{
  margin-bottom: 20px;
}

.container .section-row.suggestions .bottom .card,
.container .section-row.popular .bottom .card{
  width: calc((100% / 5.5) - 2%);
}

/* section-row Popular */

main .container .section-row.popular .bottom .card img{
  border-radius: 50%;
}

/* play-overlay */

.container .section-row .bottom .play-overlay{
  width: 100%;

}

/* FOOTER */

footer{
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}

footer .player-left{
  align-items: center;
}

footer .player-left .song{
  margin-right: 35px;
}

footer .player-left i{
  color: #a3a3a3;
  margin-right: 10px;
}

footer .player-left .title{
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

footer .player-left .subtitle{
  font-size: 0.6rem;
  color: #a3a3a3;
}

footer img{
  width: 42px;
  margin-right: 10px;
}




/* MEDIA */

@media screen and (max-width: 768px){

  /* section-row recently */
  main .container .section-row .bottom {
    flex-wrap: wrap;
  }

  main .container .section-row.recently .card,
  main .container .section-row.suggestions .bottom .card,
  main .container .section-row.popular .bottom .card {
    width: calc((100% / 4) - 2%);
    margin-right: 2%;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 568px){

  /* section-row recently */
  main .container .section-row.recently .card,
  main .container .section-row.suggestions .bottom .card,
  main .container .section-row.popular .bottom .card {
    width: calc((100% / 2) - 2%);
  }

  /* section-row suggestions */
 
}

@media screen and (max-width: 420px){

}
