.debug{
  background-color: rgba(240, 138, 138, 0.466);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.center{
  justify-content: space-between;
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.nav-menu-active{
  
}


.active{
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

/* HOVER RULES */

/* overlay */

.overlay .btn:hover{
  padding: 10px 37px;
  font-size: 0.8rem;
}

/* nav */

.container nav ul li:hover a{
  color: white;
}


/* footer */
footer .player-center .bottom:hover .status-point,
footer .player-right .status-bar:hover .status-point{
  display: block;
}

footer .player-center .bottom:hover .avanzamento,
footer .player-right .status-bar:hover .avanzamento{
  background-color: #b6f54d;
}