.debug{
  background-color: rgba(240, 138, 138, 0.466);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.center{
  justify-content: space-between;
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}


.active{
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

/* HOVER & ACTIVE RULES */

.container nav ul li .active-underline{
  height: 2px;
  width: 44%;
  background-color: #b5f54d;
  margin: 0 auto;
}


/* overlay */

.overlay .btn:hover{
  transform: scale(1.1);
}

/* nav */


.container nav ul li:hover a,
.aside-col .menu span:hover,
.aside-col .menu .playlist li:hover,
.aside-col .menu .playlist #plus:hover span,
.aside-col .bottom span:hover,
footer .player-right i:hover{
  color: white;
  font-weight: 800;
}

footer .player-left i:hover{
  color: white;
}

.aside-col .menu .playlist #plus:hover i{
  background-color: white;
}

/* section card */

main .container .section-row .card img:hover{
  filter: brightness(60%);
}

/* footer */

footer .player-left .song .subtitle:hover{
  color: white;
  text-decoration: underline;
}

footer .player-center .top i.fa-circle-play:hover{
  transform: scale(1.2)
}

/* footer bar */
footer .player-center .bottom:hover .status-point,
footer .player-right .status-bar:hover .status-point{
  display: block;
}

footer .player-center .bottom:hover .avanzamento,
footer .player-right .status-bar:hover .avanzamento{
  background-color: #b6f54d;
}